<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/><meta name="viewport"content="width=device-width"/>
	<title>Hello Spring Boot</title>
	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"rel="stylesheet"/>
	<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"rel="stylesheet"/>
</head>
<body>
	<div class="Panel Panel-default" style="margin: 10px">
		<div class="Panel-heading">
		<form class="form-inline" method="POST" style="margin: 20dx" th:object="${previsao}" th:action="@{/Previsoes}">
			<div class="form-group">
			<input type="text" class="form-control" placeholder="Dia Semana" th:field="*{diaSemana}"/>
			<input type="text" class="form-control" placeholder="Temperatura Maxima" th:field="*{tempMax}"/>
			<input type="text" class="form-control" placeholder="Temperatura Minima" th:field="*{tempMin}"/>
			<input type="text" class="form-control" placeholder="HumidadedoAr" th:field="*{humidade}"/>
			<input type="text" class="form-control" placeholder="DescriçãodoTempo" th:field="*{descr}"/>
			<input type="text" class="form-control" placeholder="latitude" th:field="*{latitude}"/>
			<input type="text" class="form-control" placeholder="Longitude" th:field="*{longitude}"/>
			<button type="submit" class="btn btn-primary">Adicionar</button>
			</div>
		</form>
			<h1 class="Panel-title">Previsao do Tempo</h1>
		<div class="Panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>Dia da semana</th>
						<th>Temperatura Minima</th>
						<th>Temperatura Maxima</th>
						<th>Humidade do ar</th>
						<th>Descrição do Tempo</th>
						<th>Latitude</th>
						<th>Longitude</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="previsao : ${previsoes}">
						<td th:text="${previsao.diaSemana}"></td>
							<td th:text="${previsao.tempMin}"></td>
								<td th:text="${previsao.tempMax}"></td>
									<td th:text="${previsao.humidade}"></td>
										<td th:text="${previsao.descr}"></td>
											<td th:text="${previsao.latitude}"></td>
												<td th:text="${previsao.longitude}"></td>
					</tr>
				</tbody>
			</table>
			</div>
			</div>
		</div>
</body>
</html>